SpringboardWsClient/schema/orderRegInfo/OrderRegInfo.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
          <!-- XML Schema Generated from XML Document on Mon Nov 10 2014 17:47:54 GMT+0800 (China Standard Time) -->
          <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
       <xs:element name="OrderRegInfo">
              <xs:complexType>
                     <xs:sequence>
                            <xs:element name="orderReg">
                                   <xs:complexType>
                                          <xs:sequence>                     
					                            <xs:element name="Store_ID" type="xs:string"></xs:element>
					                            <xs:element name="Register_ID" type="xs:string"></xs:element>
					                            <xs:element name="Trans_Num" type="xs:string"></xs:element>
					                            <xs:element name="Bus_Date" type="xs:string"></xs:element>
					                            <xs:element name="Txn_Date" type="xs:string"></xs:element>
					                            <xs:element name="SM_Type" type="xs:int"></xs:element>
					                            <xs:element name="Cashier_ID" type="xs:string"></xs:element>
					                            <xs:element name="SalesMan_ID" type="xs:string"></xs:element>
					                            <xs:element name="Salesman_Ext" type="xs:string"></xs:element>
					                            <xs:element name="Team_Code" type="xs:string"></xs:element>
					                            <xs:element name="Channel" type="xs:string"></xs:element>
					                            <xs:element name="Salesman_Code" type="xs:string"></xs:element>
					                            <xs:element name="SM_ApprovedBy" type="xs:string"></xs:element>
					                            <xs:element name="QU_Num" type="xs:string"></xs:element>
					                            <xs:element name="SM_Num" type="xs:string"></xs:element>
					                            <xs:element name="TotalAmt" type="xs:double"></xs:element>
					                            <xs:element name="SI_Need" type="xs:int"></xs:element>
					                            <xs:element name="SM_CreateDate" type="xs:string"></xs:element>
					                            <xs:element name="Modifyby" type="xs:string"></xs:element>
					                            <xs:element name="ModifyDate" type="xs:string"></xs:element>
					                            <xs:element name="ConsolDate" type="xs:string"></xs:element>
					                            <xs:element name="SettlementDate" type="xs:string"></xs:element>
					                            <xs:element name="Settle_Log_Date" type="xs:string"></xs:element>
					                            <xs:element name="Settlement_Staff_ID" type="xs:string"></xs:element>
					                            <xs:element name="StaChgDate" type="xs:string"></xs:element>
					                            <xs:element name="StaChgBy" type="xs:string"></xs:element>
					                            <xs:element name="Pay_Settle_LogDate" type="xs:string"></xs:element>
					                            <xs:element name="Pay_Settle_PhyDate" type="xs:string"></xs:element>
					                            <xs:element name="Deliver_Date" type="xs:string"></xs:element>
					                            <xs:element name="Status" type="xs:int"></xs:element>
					                            <xs:element name="CPEFLAG" type="xs:string"></xs:element>
					                            <xs:element name="Trans_Discount" type="xs:double"></xs:element>
					                            <xs:element name="Trans_Reason" type="xs:string"></xs:element>
					                            <xs:element name="CPE_Work_Num" type="xs:string"></xs:element>
					                            <xs:element name="Converted" type="xs:int"></xs:element>
					                            <xs:element name="Org_QU_Num" type="xs:string"></xs:element>
					                            <xs:element name="Ref_SM_No" type="xs:string"></xs:element>
					                            <xs:element name="Invalidated_Flag" type="xs:int"></xs:element>
					                            <xs:element name="Download" type="xs:int"></xs:element>
					                            <xs:element name="Print_Template" type="xs:string"></xs:element>
					                            <xs:element name="Store_Type" type="xs:int"></xs:element>
					                            <xs:element name="Store_Name" type="xs:string"></xs:element>
					                            <xs:element name="Store_Tel" type="xs:string"></xs:element>
					                            <xs:element name="Store_Begin_Hours" type="xs:string"></xs:element>
					                            <xs:element name="Store_End_Hours" type="xs:string"></xs:element>
					                            <xs:element name="Store_Addr_1" type="xs:string"></xs:element>
					                            <xs:element name="Store_Addr_2" type="xs:string"></xs:element>
					                            <xs:element name="Store_Addr_3" type="xs:string"></xs:element>
					                            <xs:element name="Salesman_Name" type="xs:string"></xs:element>
					                            <xs:element name="Settle_Staff_Name" type="xs:string"></xs:element>
					                            <xs:element name="CMR" type="xs:string"></xs:element>
					                            <xs:element name="UM" type="xs:string"></xs:element>
					                            <xs:element name="Title" type="xs:string"></xs:element>
					                            <xs:element name="Team_Name" type="xs:string"></xs:element>
					                            <xs:element name="Dep" type="xs:string"></xs:element>
					                            <xs:element name="Dep_Name" type="xs:string"></xs:element>
					                            <xs:element name="Coll_Time" type="xs:string"></xs:element>
					                            <xs:element name="IMS_Acno" type="xs:string"></xs:element>
					                            <xs:element name="Coll_Date" type="xs:string"></xs:element>
					                            <xs:element name="Paid_Amt" type="xs:double"></xs:element>
					                            <xs:element name="Ref_SM_Type" type="xs:int"></xs:element>
					                            <xs:element name="Txn_Time_POS_BOM" type="xs:string"></xs:element>
					                            <xs:element name="Txn_Date_POS_BOM" type="xs:string"></xs:element>
					                            <xs:element name="Req_No" type="xs:string"></xs:element>
					                            <xs:element name="Customer_ID" type="xs:string"></xs:element>
					                            <xs:element name="Account_Code" type="xs:string"></xs:element>
					                            <xs:element name="SL_ID" type="xs:string"></xs:element>
					                            <xs:element name="Print_SM" type="xs:string"></xs:element>
					                            <xs:element name="Gen_SM_Pdf" type="xs:string"></xs:element>
                                             </xs:sequence>
                                      </xs:complexType>
                               </xs:element>		                                                                                    
                            <xs:element name="customer">
                                   <xs:complexType>
                                          <xs:sequence>
                                                 <xs:element name="CU_Title" type="xs:string"></xs:element>
                                                 <xs:element name="CU_Name" type="xs:string"></xs:element>
                                                 <xs:element name="CU_CCCNO" type="xs:string"></xs:element>
                                                 <xs:element name="CU_Tel" type="xs:string"></xs:element>
                                                 <xs:element name="CU_Prime" type="xs:string"></xs:element>
                                                 <xs:element name="CU_FaxNo" type="xs:string"></xs:element>
                                                 <xs:element name="CU_MemType" type="xs:string"></xs:element>
                                                 <xs:element name="CU_ContPer" type="xs:string"></xs:element>
                                                 <xs:element name="CU_MemberNo" type="xs:string"></xs:element>
                                                 <xs:element name="CU_InterCom" type="xs:boolean"></xs:element>
                                                 <xs:element name="CU_IDBusType" type="xs:string"></xs:element>
                                                 <xs:element name="CU_IDBusNo" type="xs:string"></xs:element>
                                                 <xs:element name="CU_Remark" type="xs:string"></xs:element>
                                                 <xs:element name="CU_Int_Remarks" type="xs:string"></xs:element>
                                                 <xs:element name="CU_Request_Date" type="xs:string"></xs:element>
                                                 <xs:element name="CU_Request_Time" type="xs:string"></xs:element>
                                                 <xs:element name="CU_PosBadDebt" type="xs:boolean"></xs:element>
                                                 <xs:element name="CU_Email" type="xs:string"></xs:element>
                                             </xs:sequence>
                                      </xs:complexType>
                               </xs:element>
                            <xs:element name="Address">
                                   <xs:complexType>
                                          <xs:sequence>
                                                 <xs:element name="CU_CFLATUNIT" type="xs:string"></xs:element>
                                                 <xs:element name="CU_CFLOOR" type="xs:string"></xs:element>
                                                 <xs:element name="CU_CBLDG" type="xs:string"></xs:element>
                                                 <xs:element name="CU_CPOBOX" type="xs:string"></xs:element>
                                                 <xs:element name="CU_CHSESTNO" type="xs:string"></xs:element>
                                                 <xs:element name="CU_CLOTLDNO" type="xs:string"></xs:element>
                                                 <xs:element name="CU_CSTNAME" type="xs:string"></xs:element>
                                                 <xs:element name="CU_CSTCAT" type="xs:string"></xs:element>
                                                 <xs:element name="CU_CSECT" type="xs:string"></xs:element>
                                                 <xs:element name="CU_CDISTR" type="xs:string"></xs:element>
                                                 <xs:element name="CU_CAREA" type="xs:string"></xs:element>
                                                 <xs:element name="CU_CPOSTREGN" type="xs:string"></xs:element>
                                                 <xs:element name="CU_CPOSTCD" type="xs:string"></xs:element>
                                                 <xs:element name="CU_CCOUNTRY" type="xs:string"></xs:element>
                                                 <xs:element name="CU_CATTETO" type="xs:string"></xs:element>
                                                 <xs:element name="CU_CCO" type="xs:string"></xs:element>
                                                 <xs:element name="CU_IFLATUNIT" type="xs:string"></xs:element>
                                                 <xs:element name="CU_IFLOOR" type="xs:string"></xs:element>
                                                 <xs:element name="CU_IBLDG" type="xs:string"></xs:element>
                                                 <xs:element name="CU_IPOBOX" type="xs:string"></xs:element>
                                                 <xs:element name="CU_IHSESTNO" type="xs:string"></xs:element>
                                                 <xs:element name="CU_ILOTLDNO" type="xs:string"></xs:element>
                                                 <xs:element name="CU_ISTNAME" type="xs:string"></xs:element>
                                                 <xs:element name="CU_ISTCAT" type="xs:string"></xs:element>
                                                 <xs:element name="CU_ISECT" type="xs:string"></xs:element>
                                                 <xs:element name="CU_IDISTR" type="xs:string"></xs:element>
                                                 <xs:element name="CU_IAREA" type="xs:string"></xs:element>
                                                 <xs:element name="CU_IPOSTREGN" type="xs:string"></xs:element>
                                                 <xs:element name="CU_IPOSTCD" type="xs:string"></xs:element>
                                                 <xs:element name="CU_ICOUNTRY" type="xs:string"></xs:element>
                                             </xs:sequence>
                                      </xs:complexType>
                               </xs:element>
                            <xs:element name="orderRegDtls">
                                   <xs:complexType>
                                          <xs:sequence>
                                                 <xs:element name="OrderRegInfoDtl" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                               <xs:sequence>
                                                                      <xs:element name="Store_Code" type="xs:string"></xs:element>
                                                                      <xs:element name="Register_ID" type="xs:string"></xs:element>
                                                                      <xs:element name="Trans_Num" type="xs:string"></xs:element>
                                                                      <xs:element name="Bus_Date" type="xs:string"></xs:element>
                                                                      <xs:element name="Txn_Date" type="xs:string"></xs:element>
                                                                      <xs:element name="SM_Type" type="xs:int"></xs:element>
                                                                      <xs:element name="Seq_Num" type="xs:string"></xs:element>
                                                                      <xs:element name="Barcode" type="xs:string"></xs:element>
                                                                      <xs:element name="SKU" type="xs:string"></xs:element>
                                                                      <xs:element name="ProdDesc" type="xs:string"></xs:element>
                                                                      <xs:element name="Qty" type="xs:int"></xs:element>
                                                                      <xs:element name="Org_Price" type="xs:double"></xs:element>
                                                                      <xs:element name="Unit_Price" type="xs:double"></xs:element>
                                                                      <xs:element name="Net_Price" type="xs:double"></xs:element>
                                                                      <xs:element name="Org_Amount" type="xs:double"></xs:element>
                                                                      <xs:element name="Unit_Amount" type="xs:double"></xs:element>
                                                                      <xs:element name="Net_Amount" type="xs:double"></xs:element>
                                                                      <xs:element name="Total_Qty" type="xs:int"></xs:element>
                                                                      <xs:element name="Discount_Price" type="xs:boolean"></xs:element>
                                                                      <xs:element name="PO_Value" type="xs:double"></xs:element>
                                                                      <xs:element name="PO_ReasonCode" type="xs:string"></xs:element>
                                                                      <xs:element name="ID_Type" type="xs:int"></xs:element>
                                                                      <xs:element name="ID_ReasonCode" type="xs:string"></xs:element>
                                                                      <xs:element name="ID_Value" type="xs:double"></xs:element>
                                                                      <xs:element name="MNM_ID" type="xs:string"></xs:element>
                                                                      <xs:element name="Additional1" type="xs:string"></xs:element>
                                                                      <xs:element name="Additional2" type="xs:string"></xs:element>
                                                                      <xs:element name="Additional3" type="xs:string"></xs:element>
                                                                      <xs:element name="AddType" type="xs:int"></xs:element>
                                                                      <xs:element name="ChgClass" type="xs:string"></xs:element>
                                                                      <xs:element name="Modifier" type="xs:string"></xs:element>
                                                                      <xs:element name="IsBOM" type="xs:boolean"></xs:element>
                                                                      <xs:element name="MNPNeed" type="xs:boolean"></xs:element>
                                                                      <xs:element name="CNPNeed" type="xs:boolean"></xs:element>
                                                                      <xs:element name="ChargeType" type="xs:int"></xs:element>
                                                                      <xs:element name="SN_Need" type="xs:int"></xs:element>
                                                                      <xs:element name="SN_Num" type="xs:string"></xs:element>
                                                                      <xs:element name="StockType" type="xs:string"></xs:element>
                                                                      <xs:element name="Collected" type="xs:int"></xs:element>
                                                                      <xs:element name="Pickup_Location" type="xs:string"></xs:element>
                                                                      <xs:element name="Pickup_Staff" type="xs:string"></xs:element>
                                                                      <xs:element name="Pickup_Date" type="xs:string"></xs:element>
                                                                      <xs:element name="DeptCode" type="xs:string"></xs:element>
                                                                      <xs:element name="Uploaded_FIN" type="xs:boolean"></xs:element>
                                                                      <xs:element name="LIS_Reserve_ID" type="xs:string"></xs:element>
                                                                      <xs:element name="DISC_PRICE" type="xs:double"></xs:element>
                                                                      <xs:element name="DISC_AMOUNT" type="xs:double"></xs:element>
                                                                      <xs:element name="IMEI" type="xs:string"></xs:element>
                                                                      <xs:element name="Add_Charge" type="xs:double"></xs:element>
                                                                      <xs:element name="Disc_Type" type="xs:int"></xs:element>
                                                                      <xs:element name="Is_coupon_SKU" type="xs:boolean"></xs:element>
                                                                      <xs:element name="Is_buyback_SKU" type="xs:boolean"></xs:element>
                                                                      <xs:element name="Lbl_Sno" type="xs:string"></xs:element>
                                                                      <xs:element name="Warranty" type="xs:boolean"></xs:element>
                                                                      <xs:element name="Pickup_Store_Type" type="xs:int"></xs:element>
                                                                      <xs:element name="Pickup_Store_Name" type="xs:string"></xs:element>
                                                                      <xs:element name="Pickup_Store_Tel" type="xs:string"></xs:element>
                                                                      <xs:element name="Pickup_Store_begin_hours" type="xs:string"></xs:element>
                                                                      <xs:element name="Pickup_Store_End_Hours" type="xs:string"></xs:element>
                                                                      <xs:element name="Pickup_Store_Addr_1" type="xs:string"></xs:element>
                                                                      <xs:element name="Pickup_Store_Addr_2" type="xs:string"></xs:element>
                                                                      <xs:element name="Pickup_Store_Addr_3" type="xs:string"></xs:element>
                                                                      <xs:element name="Fault_Code" type="xs:string"></xs:element>
                                                                      <xs:element name="Fault_Desc" type="xs:string"></xs:element>
                                                                      <xs:element name="Record_Type" type="xs:int"></xs:element>
                                                                      <xs:element name="Ref_GUID" type="xs:string"></xs:element>
                                                                      <xs:element name="ActAmount" type="xs:double"></xs:element>
                                                                      <xs:element name="ActValue" type="xs:double"></xs:element>
                                                                      <xs:element name="Txn_Time_POS_BOM" type="xs:string"></xs:element>
                                                                      <xs:element name="Txn_Date_POS_BOM" type="xs:string"></xs:element>
                                                                      <xs:element name="Req_No" type="xs:string"></xs:element>
                                                                      <xs:element name="Ref_No" type="xs:string"></xs:element>
                                                                      <xs:element name="MSISDN" type="xs:string"></xs:element>
                                                                      <xs:element name="SIM_No" type="xs:string"></xs:element>
                                                                  </xs:sequence>
                                                           </xs:complexType>
                                                    </xs:element>
                                             </xs:sequence>
                                      </xs:complexType>
                               </xs:element>
                            <xs:element name="orderRegTenders">
                                   <xs:complexType>
                                          <xs:sequence>
                                                 <xs:element name="OrderRegInfoTender" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                               <xs:sequence>
                                                                      <xs:element name="Store_Code" type="xs:string"></xs:element>
                                                                      <xs:element name="Register_ID" type="xs:string"></xs:element>
                                                                      <xs:element name="Trans_Num" type="xs:string"></xs:element>
                                                                      <xs:element name="Bus_Date" type="xs:string"></xs:element>
                                                                      <xs:element name="Txn_Date" type="xs:string"></xs:element>
                                                                      <xs:element name="SM_Type" type="xs:int"></xs:element>
                                                                      <xs:element name="Seq_Num" type="xs:string"></xs:element>
                                                                      <xs:element name="Tender_ID" type="xs:string"></xs:element>
                                                                      <xs:element name="Tender_Type" type="xs:string"></xs:element>
                                                                      <xs:element name="Tender_Amount" type="xs:double"></xs:element>
                                                                      <xs:element name="Local_Amount" type="xs:double"></xs:element>
                                                                      <xs:element name="Tender_Desc" type="xs:string"></xs:element>
                                                                      <xs:element name="Additional" type="xs:string"></xs:element>
                                                                      <xs:element name="Org_Amount" type="xs:double"></xs:element>
                                                                      <xs:element name="Payment_Diff" type="xs:double"></xs:element>
                                                                      <xs:element name="Pay_Confirm_Date" type="xs:string"></xs:element>
                                                                      <xs:element name="Deposit" type="xs:boolean"></xs:element>
                                                                      <xs:element name="Record_Type" type="xs:int"></xs:element>
                                                                      <xs:element name="EOD_Flag" type="xs:int"></xs:element>
                                                                      <xs:element name="Input_Type" type="xs:string"></xs:element>
                                                                      <xs:element name="Exchange_Rate" type="xs:double"></xs:element>
                                                                      <xs:element name="Payment_Type" type="xs:int"></xs:element>
                                                                      <xs:element name="Status" type="xs:int"></xs:element>
                                                                  </xs:sequence>
                                                           </xs:complexType>
                                                    </xs:element>
                                             </xs:sequence>
                                      </xs:complexType>
                               </xs:element>
                        </xs:sequence>
                 </xs:complexType>
          </xs:element>
   </xs:schema>