SpringboardWsClient/schema/pposSalesMemo/SALES_T.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="sales_t">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ROWDATA">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ROW" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="Store_ID" use="optional"/>
                      <xs:attribute type="xs:string" name="Register_ID" use="optional"/>
                      <xs:attribute type="xs:string" name="Trans_Num" use="optional"/>
                      <xs:attribute type="xs:string" name="Bus_Date" use="optional"/>
                      <xs:attribute type="xs:string" name="Txn_Date" use="optional"/>
                      <xs:attribute type="xs:string" name="SM_Type" use="optional"/>
                      <xs:attribute type="xs:string" name="Seq_Num" use="optional"/>
                      <xs:attribute type="xs:string" name="Tender_ID" use="optional"/>
                      <xs:attribute type="xs:short" name="Tender_Amount" use="optional"/>
                      <xs:attribute type="xs:short" name="Local_Amount" use="optional"/>
                      <xs:attribute type="xs:string" name="Tender_Desc" use="optional"/>
                      <xs:attribute type="xs:short" name="Exchange_Rate" use="optional"/>
                      <xs:attribute type="xs:string" name="Payment_Type" use="optional"/>
                      <xs:attribute type="xs:string" name="Additional" use="optional"/>
                      <xs:attribute type="xs:string" name="Tender_Type" use="optional"/>
                      <xs:attribute type="xs:string" name="Status" use="optional"/>
                      <xs:attribute type="xs:short" name="Org_Amount" use="optional"/>
                      <xs:attribute type="xs:string" name="Pay_Confirm_Date" use="optional"/>
                      <xs:attribute type="xs:string" name="Deposit" use="optional"/>
                      <xs:attribute type="xs:string" name="Record_Type" use="optional"/>
                      <xs:attribute type="xs:string" name="EOD_Flag" use="optional"/>
                      <xs:attribute type="xs:string" name="Input_Type" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>