SpringboardWsClient/schema/pposSalesMemo/SALES_D.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="sales_d">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ROWDATA">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ROW" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="Store_ID" use="optional"/>
                      <xs:attribute type="xs:string" name="Register_ID" use="optional"/>
                      <xs:attribute type="xs:string" name="Trans_Num" use="optional"/>
                      <xs:attribute type="xs:string" name="Bus_Date" use="optional"/>
                      <xs:attribute type="xs:string" name="Txn_Date" use="optional"/>
                      <xs:attribute type="xs:string" name="SM_Type" use="optional"/>
                      <xs:attribute type="xs:string" name="Seq_Num" use="optional"/>
                      <xs:attribute type="xs:string" name="SKU" use="optional"/>
                      <xs:attribute type="xs:string" name="ProdDesc" use="optional"/>
                      <xs:attribute type="xs:short" name="Qty" use="optional"/>
                      <xs:attribute type="xs:short" name="Org_Price" use="optional"/>
                      <xs:attribute type="xs:short" name="Unit_Price" use="optional"/>
                      <xs:attribute type="xs:short" name="Net_Price" use="optional"/>
                      <xs:attribute type="xs:short" name="Org_Amount" use="optional"/>
                      <xs:attribute type="xs:short" name="Unit_Amount" use="optional"/>
                      <xs:attribute type="xs:short" name="Net_Amount" use="optional"/>
                      <xs:attribute type="xs:short" name="Total_Qty" use="optional"/>
                      <xs:attribute type="xs:short" name="Discount_Price" use="optional"/>
                      <xs:attribute type="xs:string" name="ID_ReasonCode" use="optional"/>
                      <xs:attribute type="xs:string" name="Additional1" use="optional"/>
                      <xs:attribute type="xs:string" name="Additional2" use="optional"/>
                      <xs:attribute type="xs:string" name="Additional3" use="optional"/>
                      <xs:attribute type="xs:string" name="ChgClass" use="optional"/>
                      <xs:attribute type="xs:string" name="IsBOM" use="optional"/>
                      <xs:attribute type="xs:string" name="MNPNeed" use="optional"/>
                      <xs:attribute type="xs:string" name="CNPNeed" use="optional"/>
                      <xs:attribute type="xs:string" name="ChargeType" use="optional"/>
                      <xs:attribute type="xs:string" name="SN_Num" use="optional"/>
                      <xs:attribute type="xs:string" name="StockType" use="optional"/>
                      <xs:attribute type="xs:string" name="Collected" use="optional"/>
                      <xs:attribute type="xs:string" name="Pickup_Location" use="optional"/>
                      <xs:attribute type="xs:string" name="DeptCode" use="optional"/>
                      <xs:attribute type="xs:short" name="DISC_PRICE" use="optional"/>
                      <xs:attribute type="xs:short" name="DISC_AMOUNT" use="optional"/>
                      <xs:attribute type="xs:string" name="IMEI" use="optional"/>
                      <xs:attribute type="xs:short" name="Add_Charge" use="optional"/>
                      <xs:attribute type="xs:string" name="Disc_Type" use="optional"/>
                      <xs:attribute type="xs:string" name="Is_coupon_sku" use="optional"/>
                      <xs:attribute type="xs:string" name="Is_buyback_sku" use="optional"/>
                      <xs:attribute type="xs:string" name="Pickup_Store_Type" use="optional"/>
                      <xs:attribute type="xs:string" name="Pickup_Store_Name" use="optional"/>
                      <xs:attribute type="xs:string" name="Pickup_Store_tel" use="optional"/>
                      <xs:attribute type="xs:string" name="Pickup_Store_Begin_Hours" use="optional"/>
                      <xs:attribute type="xs:string" name="Pickup_Store_End_Hours" use="optional"/>
                      <xs:attribute type="xs:string" name="Pickup_Store_Addr_1" use="optional"/>
                      <xs:attribute type="xs:string" name="Pickup_Store_Addr_2" use="optional"/>
                      <xs:attribute type="xs:string" name="Pickup_Store_Addr_3" use="optional"/>
                      <xs:attribute type="xs:string" name="lbl_sno" use="optional"/>
                      <xs:attribute type="xs:string" name="warranty" use="optional"/>
                      <xs:attribute type="xs:string" name="Fault_Code" use="optional"/>
                      <xs:attribute type="xs:string" name="Fault_Desc" use="optional"/>
                      <xs:attribute type="xs:string" name="Record_Type" use="optional"/>
                      <xs:attribute type="xs:short" name="ActValue" use="optional"/>
                      <xs:attribute type="xs:short" name="ActAmount" use="optional"/>
                      <xs:attribute type="xs:string" name="StockStatus" use="optional"/>
                      <xs:attribute type="xs:string" name="Sub_ID" use="optional"/>
                      <xs:attribute type="xs:string" name="Pickup_Staff" use="optional"/>
                      <xs:attribute type="xs:string" name="Pickup_Date" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>